/* Header */

header {
    margin-top: 150px;
    margin-left: 150px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

h1 {
    font-size: 80px;
}

/* Box */

.box {
    width: 300px;
    height: 200px;
    border: 1px solid rgba(203, 181, 203, 0.366);
    border-radius: 10px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

/* Animation */

.box:hover {
    background-color: blueviolet;
}

.icon-box {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.icon-box:hover {
    background-color: blueviolet;
    border: 1px solid blueviolet;
}

.icon-box:hover .icon {
    color: white; 
    transition: color 0.3s ease; 
}


.icon-box:hover .icon-sub,
.icon-box:hover .policy {
    color: white;
}

.icon-box:hover .line {
    border-top-color: rgba(255, 255, 255, 0.482); /* Cambio del colore della linea */
}

.icon-box:hover .bef-arrow,
.icon-box:hover .arrow{
    color: white; 
}

.line:hover a,
.line:hover .bef-arrow {
    color: white;
    transition: color 0.3s ease;
}

/* icon dentro box */


.icon-box {
    display: flex;
    background-color: black;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    margin-top: 1rem;
    margin-left: 7rem;
}

.icon {
    position: absolute;
    padding: 35%;
}

.icon-sub {
    margin-left: 5rem;
    margin-top: 1rem;
}

.policy {
    margin-left: 7rem;
    margin-top: 1rem;
}

.line {
    max-width: 100%;
    border-top: 1px solid rgba(163, 99, 222, 0.482);
    margin-top: 2rem;
}

.bef-arrow {
    font-size: small;
    color: #9252c7;
    margin-top: 1rem;
}

.arrow-first {
    position: absolute;
    margin-top: 3px;
    margin-left: 120px;
}

.arrow {
    position: absolute;
    margin-top: 3px;
    margin-left: 60px;
}

.arrow-third {
    position: absolute;
    margin-top: 3px;
    margin-left: 165px; 
}

a {
    text-decoration: none;
}

/* Lista */

.list {
    margin-bottom: 30px;
}

.scrollable-list {
    max-height: 400px; 
    overflow-y: auto; /* Aggiunge la barra di scorrimento solo quando necessario */
    padding: 40px; 
}

.scrollable-list::-webkit-scrollbar {
    width: 6px; 
}

.scrollable-list::-webkit-scrollbar-thumb {
    background-color: #a070dcf5; 
    border-radius: 6px;
}

.scrollable-list::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Colore della traccia */
}


/* FORM */

.frage {
    font-size: 10px;
    color: #9252c7;
    padding: 2rem;
}

.frage1 {
    font-size: 10px;
    color: black;
}

.fragearrow {
    margin-left: 500px;
    margin-top: -50px;
}

/* Form domanda n. 4 */

.counter {
    position: relative;
}

.char-counter {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #999; /* Colore del testo grigio */
    font-size: 12px;
}


/* Modal */


/* Stili per la finestra modale */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow: auto; /* Aggiunto overflow per consentire lo scrolling all'interno della modale */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    width: 90%; /* Imposta la larghezza della finestra modale al 90% del genitore */
    max-width: 500px; /* Larghezza massima */
    padding: 20px; /* Spaziatura interna */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Aggiunto ombra */
}

.modal-header {
    padding: 15px;
    background-color: #f5f2f7;
    border-radius: 5px 5px 0 0; /* Bordi arrotondati solo in alto */
}

.modal-header .close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.modal-body {
    padding: 15px;
}

/* Aggiunte regole CSS per H1 e paragrafo */
.modal-body h1 {
    font-size: 24px; /* Imposta la dimensione del font per H1 */
    margin-top: 0; /* Rimuove il margine superiore predefinito di H1 */
}

.modal-body p {
    font-size: 14px; /* Imposta la dimensione del font per il paragrafo */
    margin-top: 10px; /* Aggiunge uno spazio superiore al paragrafo */
}















